<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	
	<typeAliases>
		<typeAlias type="vo.MemberVo"  alias="member"/>
		<typeAlias type="vo.RPlaceVo"   alias="rplace"/>
		<typeAlias type="vo.NoticeVo"   alias="notice"/>
		<typeAlias type="vo.CampProductVo"   alias="campproduct"/>
	</typeAliases>

	
	<mappers>
		<mapper resource="config/mybatis/mapper/member.xml" />
		<mapper resource="config/mybatis/mapper/rplace.xml" />
		<mapper resource="config/mybatis/mapper/notice.xml" />
		<mapper resource="config/mybatis/mapper/bmkplace.xml" />
		<mapper resource="config/mybatis/mapper/bmkgoods.xml" />
		<mapper resource="config/mybatis/mapper/place.xml" />
		<mapper resource="config/mybatis/mapper/campproduct.xml" />
	</mappers>
</configuration>